@import "../../constants/constants.scss";

.technologies-container {
  background-image: $widgetBgColour;
  border-radius: $borderRadiusPrimary;
  box-shadow: $boxShadowPrimary;
  width: 100%;
  min-height: 180px;
  margin: 0.75rem 0;
  padding: 0.5rem;
}

.icons-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.icon {
  margin: 0.75rem;
}
