@import "../../constants/constants.scss";

.profile-container {
  width: 100%;
  @media (max-width: $responsiveXS) {
    height: $widgetHeightXXS;
    margin: 0.5rem auto;
  }
}

.personal-profile-widget-body {
  position: relative;
  height: calc(100% - 8rem);
  margin: 2rem;
  @media (max-width: $responsiveMed) {
    position: relative;
    height: 75%;
  }
  @media (min-width: $responsiveMed) {
    height: calc(100% - 4rem);
  }
  @media (max-width: $responsiveXS) {
    height: calc(100% - 2rem);
    margin: 1rem;
    letter-spacing: 1px;
  }
  @media (min-width: $responsiveXS) {
    letter-spacing: 2px;
  }
}
.personal-profile-head {
  font-size: 1.75rem;

  @media (min-width: $responsiveXl) {
    font-size: 2rem;
  }
}
.personal-profile-job {
  text-decoration: none;
  color: $colourSecondary;
  @media (min-width: $responsiveXS) {
    padding: 1.5rem 0;
  }
  @media (min-width: $responsiveSm) {
    padding: 1rem 0;
  }
  @media (min-width: $responsiveMed) {
    font-size: 1.75rem;
  }
  @media (min-width: $responsiveXl) {
    padding: 1.5rem 0;
    font-size: 2rem;
  }
}
.personal-profile-blurb {
  width: 100%;
  @media (max-width: $responsiveXS) {
    margin-top: 1rem;
  }
  @media (min-width: $responsiveXS) {
    padding: 1.5rem 0;
  }
  @media (min-width: $responsiveSm) {
    padding: 1rem 0;
  }
  @media (min-width: $responsiveMed) {
    font-size: 1.5rem;
  }
  @media (min-width: $responsiveXl) {
    padding: 1.5rem 0;
    font-size: 1.75rem;
  }
}
.profile-footer {
  position: absolute;
  top: calc(100% - 36px);
  left: -1rem;
}

.social-icon {
  margin: 0 1rem;
}
