@import "../../constants/constants.scss";

.profile-container {
  width: 100%;
  @media (max-width: $responsiveXS) {
    height: $widgetHeightXXS;
    margin: 0.5rem auto;
  }
}

.personal-profile-head {
  font-size: 1.75rem;

  @media (min-width: $responsiveXl) {
    font-size: 2rem;
  }
}
.personal-profile-job {
  text-decoration: none;
  color: $colourSecondary;
  @media (min-width: $responsiveXS) {
    padding: 1.5rem 0;
  }
  @media (min-width: $responsiveSm) {
    padding: 1rem 0;
  }
  @media (min-width: $responsiveMed) {
    font-size: 1.75rem;
  }
  @media (min-width: $responsiveXl) {
    padding: 1.5rem 0;
    font-size: 2rem;
  }
}
.personal-profile-blurb {
  width: 100%;
  @media (max-width: $responsiveXS) {
    margin-top: 1rem;
  }
  @media (min-width: $responsiveXS) {
    padding: 1.5rem 0;
  }
  @media (min-width: $responsiveSm) {
    padding: 1rem 0;
  }
  @media (min-width: $responsiveMed) {
    font-size: 1.5rem;
  }
  @media (min-width: $responsiveXl) {
    padding: 1.5rem 0;
    font-size: 1.75rem;
  }
}
.profile-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.social-icon {
  margin: 0 1rem;
}
