@import "../../constants/constants.scss";

.display-image-container {
  position: relative;
  width: 100%;
  margin: 0.5rem auto;
  @media (max-width: $responsiveXS) {
    height: $widgetHeightXXS;
  }
}

.display-image {
  position: absolute;
  top: calc(40% - 128px);
  left: calc(50% - 128px);
  width: 256px;
  height: 256px;
  @media (max-width: $responsiveXS) {
    top: calc(40% - 86px);
    left: calc(50% - 86px);
    width: 172px;
    height: 172px;
  }
  border-radius: 50%;
}

.user-description {
  position: absolute;
  height: 96px;
  top: calc(100% - 104px);
  width: calc(100% - 1rem);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
}

.user-name {
  font-size: 2rem;
  font-weight: 500;
  color: $colourSecondary;
  color: $colourPrimary;
}

.user-job {
  font-size: 1.3rem;
  color: $colourSecondary;
}
