@import "../../constants/constants.scss";

.display-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  padding: 1.5rem;
}

.display-image {
  width: 256px;
  height: 256px;
  @media (max-width: $responsiveXS) {
    width: 172px;
    height: 172px;
  }
  border-radius: 50%;
}

.user-description {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
}

.user-name {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  @media (max-width: $responsiveXS) {
    font-size: 1.55rem;
  }

  color: $colourPrimary;
}

.user-job {
  font-size: 1.3rem;
  margin-top: 0.75rem;
  @media (max-width: $responsiveXS) {
    font-size: 0.8rem;
  }
  color: $colourSecondary;
}
