@import "../../constants/constants.scss";

.display-image-container {
  @media (max-width: $responsiveXS) {
    height: $widgetHeightXXS;
    width: calc(100% - #{2 * $paddingPrimary});
    margin: 0.5rem auto;
  }
  @media (min-width: $responsiveXS) {
    width: calc(100% - #{2 * $paddingPrimary});
  }
  @media (min-width: $responsiveSm) {
    width: calc(100% - #{2 * $paddingPrimary});
  }
  @media (min-width: $responsiveMed) {
    width: calc(50% - #{2 * $paddingPrimary});
  }
  @media (min-width: $responsiveLg) {
    width: calc(40% - #{2 * $paddingPrimary});
  }
  @media (min-width: $responsiveXl) {
    width: calc(40% - #{2 * $paddingPrimary});
  }

  @media (max-width: $responsiveMed) {
    margin: 0.5rem auto;
  }
}
