$appContainerPaddingSm: 0.5rem 0.5rem 0;
$appContainerPaddingLg: 2rem 2rem 0;

$paddingPrimary: 0.5rem;

$borderRadiusPrimary: 4px;
$boxShadowPrimary: 1px 1px 4px 1px #2e2e2e;

$widgetBgColour: linear-gradient(to right, #2e2e2e, #3b3b3b);

$colourPrimary: #eee;
$colourSecondary: #b4ef4e;

$widgetHeightXXS: 300px;
$widgetHeightXS: 360px;
$widgetHeightSm: 400px;
$widgetHeightMed: 472px;
$widgetHeightLg: 440px;
$widgetHeightXl: 512px;

// breakpoints
$responsiveXS: 512px;
$responsiveSm: 768px;
$responsiveMed: 992px;
$responsiveLg: 1200px;
$responsiveXl: 1440px;
