@import "../../../constants/constants.scss";

.widget-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.widget-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 80%;
  margin: 0 auto 0.5rem;
  border-bottom: 2px solid $colourSecondary;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: $colourSecondary;
}
.widget-body {
  height: calc(100% - 1rem);
  margin: $paddingPrimary;
  overflow: scroll;
  color: $colourPrimary;
}
.widget-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.widget-location {
  color: $colourPrimary;
  font-size: 1.3rem;
}
.widget-icon {
  margin: 0.5rem;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}
.widget-description-wrapper {
  font-size: 1.25rem;
  li {
    margin-left: 1rem;
  }
}
.widget-title {
  color: $colourSecondary;
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}
.widget-content-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.widget-content {
  width: 100%;
}
