@import "../../../constants/constants.scss";

.widget-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.widget-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 80%;
  margin: 0 auto 0.5rem;
  border-bottom: 2px solid $colourSecondary;
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: $colourSecondary;
}
.widget-body {
  height: calc(100% - 44px - 0.5rem);
  padding: 0 $paddingPrimary;
  overflow: auto;
}
