@import "../../constants/constants.scss";

.app-container {
  @media (max-width: $responsiveSm) {
    padding: $appContainerPaddingSm;
  }
  @media (min-width: $responsiveSm) {
    padding: $appContainerPaddingLg;
  }
  display: flex;
  flex-wrap: wrap;
}
.widget {
  background-color: $widgetBgColour;
  border-radius: $borderRadiusPrimary;
  box-shadow: $boxShadowPrimary;
  margin: 0.5rem;
  @media (max-width: $responsiveXS) {
    height: $widgetHeightXXS;
    width: calc(100% - #{2 * $paddingPrimary});
    margin: 0.5rem auto;
  }
  @media (min-width: $responsiveXS) {
    height: $widgetHeightXS;
  }
  @media (min-width: $responsiveSm) {
    height: $widgetHeightSm;
  }
  @media (min-width: $responsiveMed) {
    height: $widgetHeightMed;
  }
  @media (min-width: $responsiveLg) {
    height: $widgetHeightLg;
  }
  @media (min-width: $responsiveXl) {
    height: $widgetHeightXl;
  }
}

.education-container {
  width: calc(100% - #{2 * $paddingPrimary});
}
