@import "../../constants/constants.scss";

.education-date {
  color: $colourSecondary;
  font-style: italic;
  line-height: 150%;
}
.edu-description {
  @media (min-width: $responsiveSm) {
    margin-top: 1rem;
  }
}
