@import "../../constants/constants.scss";

.education-container {
  height: 100%;
  width: calc(100% - #{2 * $paddingPrimary});
  display: flex;
}
.education-date {
  color: $colourSecondary;
  font-style: italic;
  line-height: 150%;
  font-size: 1.25rem;
}
.edu-description {
  @media (min-width: $responsiveSm) {
    margin-top: 1rem;
  }
}
.education-description-wrapper {
  font-size: 1.25rem;
  ul {
    @media (min-width: $responsiveSm) {
      columns: 2;
    }
    width: 100%;
  }
  li {
    margin-left: 1rem;
  }
}
